*{
    font-family: jost;
}
#root
{
    width: 100%;
}

.slct
{
    background-color:#d5d5d5;
    color:black;
    width: 100%;
}


.slct:hover
{
    background-color:black;
    color:white;
    width: 100%;
}
.selects
{
    margin: 0 3.5em;
}

.products_container
{
    display: grid;
    grid-template-columns: repeat(4,1fr);   
}

.changeGrid
{
    grid-template-columns: repeat(3,1fr);
    margin: 2em 8em !important;
    gap: 2em;
}

.changeGrid2
{
    grid-template-columns: repeat(2,1fr);
    margin: 2em 12em !important;
    gap: 2em;
}

.changeGrid1
{
    display: flex;
    margin: 0 2em !important;
}

.GRID
{
    width: 100%;
    display: flex;
}

input,textarea
{

    width: 100%;
    border: 1px solid #d5d5d5;
    padding: 0.8em 1em !important;
    border-radius: 6px !important;
}

.active
{
    background-color: #387581;
    color: white;
}

.flash_main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x:auto;
}